<div class="container">
    <div class="row row-header">
	<h1>About This App</h1>
    </div>
    <div class= "row row-header">
	<h4>This app will allow you to easily keep track of expenses and income in order to create your own personal budget!</h4>
	<h4>Log in is required for access. If you do not have an account please register now</h4>
    </div>
    <div class="row row-header">
    <h1>How to Use the Finance App</h1>
    </div>
    <div class= "row row-content">
    <h4>The Accounts tab allows you to add different accounts such as a checking account or savings account. Once created press the details button to add individual transactions related to said account</h4>
    <h4>Within the account details the History section will display a graph showing the detail of all transations</h4>
    <h4>Use the categories tab in order to create or delete the categories that you would like to use to group your transactions</h4>
    </div>
</div>